.flexRow--deals,
.flexRow--deals2 {
  background-color: #851446;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth,
.flexRow--deals2 .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol,
.flexRow--deals2 .flexCol {
  align-items: center;
}

.flexRow--deals2 {
  margin-top: 20px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}
